<div *ngIf="cargado">
    <div *ngFor="let carro of carros">
        <section class="h-100 h-custom" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="row">

                                    <div class="col-lg-7">
                                        <h5 class="mb-3">
                                            <a (click)="goBack()">
                                                <img src="assets/icons/volver.png"
                                                        class="img-fluid rounded-3" style="width: 30px;" alt="Volver">
                                                Volver
                                            </a>
                                        </h5>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <p class="mb-1">Carrito: {{carro.id}}</p>
                                                <p class="mb-0">Tiene {{carro.totalProducts}} productos en el carrito</p>
                                            </div>
                                        </div>

                                        <div *ngFor="let producto of carro.products" class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <a class="btn" data-bs-toggle="modal" [attr.data-bs-target]="'#modalDetalles' + producto.id" (click)="getProductById(producto.id)" style="width: 65px;">
                                                                <img src="assets/icons/detalles.png" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                            </a>


                                                            <div *ngIf="productoAux" class="modal fade"
                                                                [id]="'modalDetalles' + producto.id" tabindex="-1"
                                                                aria-labelledby="modalDetallesLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="modalDetallesLabel">Detalles del
                                                                                artículo {{
                                                                                productoAux.title }}</h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"
                                                                                (click)="reseteaProducto()"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="container mt-4">
                                                                                <div class="card">
                                                                                    <img src="{{ productoAux.thumbnail }}"
                                                                                        class="card-img-top"
                                                                                        alt="Producto">
                                                                                    <div class="card-body">
                                                                                        <h5 class="card-title">{{
                                                                                            productoAux.title }}</h5>
                                                                                        <p class="card-text">{{
                                                                                            productoAux.description }}
                                                                                        </p>
                                                                                        <p class="card-text">Precio: {{
                                                                                            productoAux.price }} €</p>
                                                                                        <p class="card-text">Descuento:
                                                                                            {{
                                                                                            productoAux.discountPercentage
                                                                                            }}%
                                                                                        </p>
                                                                                        <p class="card-text">Valoración:
                                                                                            {{ productoAux.rating }}</p>
                                                                                        <p class="card-text">Stock: {{
                                                                                            productoAux.stock }}
                                                                                            unidades</p>
                                                                                        <p class="card-text">Marca: {{
                                                                                            productoAux.brand }}</p>
                                                                                        <p class="card-text">Categoría:
                                                                                            {{ productoAux.category }}
                                                                                        </p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>{{producto.title}}</h5>
                                                            <p class="small mb-0">Precio sin descuento:
                                                                {{producto.total}}€</p>
                                                            <p class="small mb-0">Descuento:
                                                                {{producto.discountPercentage}}%</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="flex-grow-1 mx-2">
                                                            <h5 class="fw-normal mb-0">Cantidad: {{producto.quantity}}</h5>
                                                        </div>
                                                        <div class="flex-grow-1 mx-2">
                                                            <h5 class="mb-0">Precio: {{producto.discountedPrice}}€</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="usuario" class="col-lg-5">

                                        <div class="card bg-primary text-white rounded-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <h5 class="mb-0">Detalles de usuario</h5>
                                                    <img src="{{ usuario.image }}"
                                                        class="img-fluid rounded-3" style="width: 100px;" alt="Avatar">
                                                </div>

                                                <div class="mt-4">
                                                    <div class="form-outline form-white mb-4">
                                                        <label class="form-label">Nombre, Apellido</label>
                                                        <div class="border p-3 mb-4 bg-white rounded text-dark">{{usuario.firstName}}, {{usuario.lastName}}</div>
                                                    </div>
                                                
                                                    <div class="form-outline form-white mb-4">
                                                        <label class="form-label">Email</label>
                                                        <div class="border p-3 mb-4 bg-white rounded text-dark">{{usuario.email}}</div>
                                                    </div>
                                                
                                                    <div class="row mb-4">
                                                        <div class="col-md-6">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label">Teléfono</label>
                                                                <div class="border p-3 mb-4 bg-white rounded text-dark">{{usuario.phone}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-outline form-white">
                                                                <label class="form-label">Fecha de nacimiento</label>
                                                                <div class="border p-3 mb-4 bg-white rounded text-dark">{{usuario.birthDate}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr class="my-4">

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Subtotal</p>
                                                    <p class="mb-2">{{carro.total}}€</p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p class="mb-2">Descuento</p>
                                                    <p class="mb-2">%</p>
                                                </div>

                                                <div class="d-flex justify-content-between mb-4">
                                                    <p class="mb-2">Total</p>
                                                    <p class="mb-2"> {{carro.discountedTotal}}€</p>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>