<section *ngIf="cargado">
    <div class="container">
        <div class="row">
            <h1 class="col-6 my-4 font-weight-bold">PRODUCTOS</h1>
            <div class="col-6 my-4 ">
                <div class="row">
                    <div class="col-8 mb-4">
                        <div id="search-component">
                            <input #searchBox id="search-box" type="search" class="form-control"
                                placeholder="Buscar productos" />
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <button class="btn btn-danger btn-block" type="search" (click)="search(searchBox.value)">
                            Buscar
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <a (click)="goToNewProduct()" class="btn btn-success mb-4">
            Añadir un producto nuevo
        </a>
        <div class="row">
            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos4(10)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>

        <app-paginador [numeroElementos]="numeroProductos" [tamPag]="tamPag"
            (pagina)="cargarPagina($event)"></app-paginador>

        <div id="liveAlert"></div>

        <ul class="list-unstyled row">
            <li *ngFor="let producto of productos" class="col-md-3 mb-4">
                <div class="sombra card h-100">
                    <div class="img-container" style=" justify-content: center;">
                        <img src="{{ producto.thumbnail }}" alt="foto" class="zoom card-img-top" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.title }}</h5>
                        <p class="card-text">{{ producto.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ producto.brand }}</h6>
                        <p class="card-text">{{ producto.category }}</p>
                        <h6 class="card-subtitle text-danger">{{ producto.price }} €</h6>

                    </div>
                    <div class="container my-4">

                        <!--detalles de un producto-->
                        <!-- Botón genrear modal -->
                        <button type="button" class="zoom btn btn-primary" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalDetalles' + producto.id">
                            Ver
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" [id]="'modalDetalles' + producto.id" tabindex="-1"
                            aria-labelledby="modalDetallesLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalDetallesLabel">Detalles del artículo {{
                                            producto.title }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container mt-4">
                                            <div class="card">
                                                <img src="{{ producto.thumbnail }}" class="card-img-top" alt="Producto">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ producto.title }}</h5>
                                                    <p class="card-text">{{ producto.description }}</p>
                                                    <p class="card-text">Precio: {{ producto.price }} €</p>
                                                    <p class="card-text">Descuento: {{ producto.discountPercentage }}%
                                                    </p>
                                                    <p class="card-text">Valoración: {{ producto.rating }}</p>
                                                    <p class="card-text">Stock: {{ producto.stock }} unidades</p>
                                                    <p class="card-text">Marca: {{ producto.brand }}</p>
                                                    <p class="card-text">Categoría: {{ producto.category }}</p>
                                                </div>
                                                <div class="card-footer">
                                                    <a routerLink="/productos/producto/detalle/edit/{{producto.id}}"
                                                        class="btn btn-success" data-bs-dismiss="modal">
                                                        Modificar datos producto
                                                    </a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Hasta aquí detalles de un producto con su modal-->
                        <!-- Botón genrear modal -->
                        <!-- <button type="button" class="float-end" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalCerrar' + producto.id">
                            <img src="assets/icons/icono-papelera.png" width="32" height="32" alt="Eliminar articulo">
                        </button> -->

                        <a class="zoom2 btn float-end" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalCerrar' + producto.id">
                            <img src="assets/icons/icono-papelera.png" width="32" height="32" alt="Eliminar articulo">
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" [id]="'modalCerrar' + producto.id" tabindex="-1"
                            aria-labelledby="modalBorrarLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBorrarLabel">Borrando el artículo {{
                                            producto.title }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro que desea eliminar el producto {{ producto.title }} con id {{
                                        producto.id }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            (click)="eliminarProducto(producto.id)">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>