<section *ngIf="cargado">
    <div class="container">
        <div class="row">
            <h1 class="col-6 my-4 font-weight-bold">USUARIOS</h1>
            <div class="col-6 my-4 ">
                <div class="row">
                    <div class="col-6 mb-2">
                        <div id="search-component">
                            <input #searchBox id="search-box" type="search" class="form-control"
                                placeholder="Buscar usuarios" />
                        </div>
                    </div>
                    <div class="col-2 mb-2">
                        <button class="btn btn-danger btn-block" type="search" (click)="search(searchBox.value)">
                            Buscar
                        </button>
                    </div>
                    <div class="btn col-2 mx-2 mb-2">
                        <a class="my-2" (click)="activarFiltros()">
                            <img class="zoom" src="assets/icons/filtro.png" width="32" height="32" alt="Filtros">
                        </a>
                    </div>
                </div>
            </div>

        </div>



        <a (click)="goToDetalleUsuario()" class="btn btn-success mb-4">
            Añadir un nuevo usuario
        </a>
        <div *ngIf="verFiltros" class="row">

            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inpuEdad">Edad</span>
                    </div>
                    <input aria-describedby="inpuEdad" aria-label="Default" type="number" class="form-control"
                        [(ngModel)]="edad" placeholder="Edad" />
                </div>
            </div>

            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inpuFecha">Fecha de nacimineto</span>
                    </div>
                    <input aria-describedby="inpuFecha" aria-label="Default" type="date" class="form-control"
                        [(ngModel)]="fechaNacimiento" placeholder="FechaDeNacimiento" />
                </div>
            </div>

            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inpuGenero">Género</span>
                    </div>
                    <div class="form-control" aria-describedby="inpuGenero">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="male" [(ngModel)]="genero"
                                value="male">
                            <label class="form-check-label" for="male">
                                <span style="margin-left: 10px;">Male</span>
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="female" value="female"
                                [(ngModel)]="genero">
                            <label class="form-check-label" for="female">
                                <span style="margin-left: 10px;">Female</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-4 mb-4">
                <button class="btn btn-danger btn-block" (click)="cargarPagina(0)">
                    Aplicar filtros
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-auto">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Número elementos por página</span>
                    </div>
                    <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                        [(ngModel)]="tamPag" id="tamPagina">
                        <option *ngFor="let opcion of Multiplos4(10)" [value]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>
        </div>



        <app-paginador [numeroElementos]="numeroUsuarios" [tamPag]="tamPag"
            (pagina)="cargarPagina($event)"></app-paginador>

        <div id="liveAlert"></div>

        <ul class="list-unstyled row">
            <li *ngFor="let usuario of usuarios" class="col-md-3 mb-4">
                <div class="sombra card h-100">
                    <div class="img-container" style=" justify-content: center;">
                        <img src="{{ usuario.image }}" alt="fotoDePerfil" class="zoom card-img-top" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ usuario.firstName }} {{ usuario.lastName }}</h5>
                        <p class="card-text">{{usuario.birthDate}}</p>
                        <p class="card-text">{{ usuario.age }} años</p>
                        <p class="card-text">{{ usuario.username }}</p>
                        <p class="card-text">{{ usuario.gender }}</p>
                        <h6 class="card-subtitle mb-2 text-primary">{{ usuario.email }}</h6>
                    </div>
                    <div class="container my-4">
                        <!--detalles de un usuario-->
                        <!-- Botón generar el modal -->
                        <button type="button" class="zoom btn btn-primary" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalDetalles' + usuario.id">
                            Ver
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" [id]="'modalDetalles' + usuario.id" tabindex="-1"
                            aria-labelledby="modalDetallesLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalDetallesLabel">Detalles del usuario {{
                                            usuario.username }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container mt-4">
                                            <div class="card">
                                                <img src="{{ usuario.image }}" class="card-img-top" alt="Producto">
                                                <div class="card-body">
                                                    <h5 class="card-title">USUARIO: {{ usuario.username }}</h5>
                                                    <p class="card-text">Nombre: {{ usuario.firstName }} </p>
                                                    <p class="card-text">Apellido: {{ usuario.lastName }} </p>
                                                    <p class="card-text">Fecha de nacimiento: {{ usuario.birthDate }}
                                                    </p>
                                                    <p class="card-text">Edad: {{ usuario.age }} </p>
                                                    <p class="card-text">Email: {{ usuario.email }} </p>
                                                    <p class="card-text">Género: {{ usuario.gender }} </p>
                                                    <p class="card-text">Teléfono: {{ usuario.phone }} </p>
                                                    <h5 class="card-title">DIRECCIÓN: {{ usuario.address.address }}</h5>
                                                    <p class="card-text">Ciudad: {{ usuario.address.city }} </p>
                                                    <p class="card-text">Códigp postal: {{ usuario.address.postalCode }}
                                                    </p>
                                                    <p class="card-text">Estado: {{ usuario.address.state }} </p>
                                                </div>
                                                <div class="card-footer">
                                                    <a routerLink="/usuarios/usuario/detalle/edit/{{usuario.id}}"
                                                        class="btn btn-success" data-bs-dismiss="modal">
                                                        Modificar usuario
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Hasta aquí detalles de un usuario con su modal-->


                        <a *ngIf="mapCarro.get(usuario.id)" class="zoom2 btn float-end" routerLink="/carritos/usuario/{{usuario.id}}">
                            <img src="assets/icons/carrito.jpg" width="32" height="32" alt="Ver carrito">
                        </a>

                        <!-- Botón genrear modal -->
                        <a class="zoom2 btn float-end" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modalEliminar' + usuario.id">
                            <img src="assets/icons/icono-papelera.png" width="32" height="32" alt="Eliminar usuario">
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" [id]="'modalEliminar' + usuario.id" tabindex="-1"
                            aria-labelledby="modalBorrarLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalBorrarLabel">Borrando el usuario {{
                                            usuario.username }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Está seguro que desea eliminar el usuario {{ usuario.username }} con id {{
                                        usuario.id }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            (click)="eliminarUsuario(usuario.id)">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>