<nav *ngIf="numeroElementos > tamPag" class="p-3">
    <ul class="list-inline">
        <li *ngIf="pagActual > 0" class="list-inline-item">
            <button type="search" (click)="irAnterior()" class="btn btn-light">
                Anterior
            </button>
        </li>
        <li *ngFor="let pag of aux; index as i" class="list-inline-item">
            <button type="search" (click)="cambiarPagina(i)" [ngClass]="i === pagActual?'btn btn-primary':'btn btn-light'">
                {{i+1}}
            </button>
        </li>
        <li *ngIf="pagActual < (numPagTotales-1)" class="list-inline-item">
            <button type="search" (click)="irSiguiente()" class="btn btn-light">
                Siguiente
            </button>
        </li>
    </ul>
    <p class="mt-3">Total de elementos: {{numeroElementos}}</p> 
</nav>

