<section>
    <div class="d-flex justify-content-center p-2">
        <h1>
            ¡Bienvenid@ a 
            <span style="color: chocolate;">Akafon</span>
            !
        </h1>
    </div>
    <div class="d-flex justify-content-center p-2 mb-3">
        <h2>
            ¡Encuentra los mejores productos y al mejor precio!
        </h2>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <ul style="list-style: none;" class="my-4">
            <li>
                ¿Estás perdido? ¡Prueba a hacer click en 
                <span class="text-success fw-bold">Productos</span>!
                ¡Corre porque está todo de <strong>oferta</strong>!
            </li>
            <li>
                En esta página vas a encontrar toda la información sobre nuestros productos y usuarios
            </li>
            <li>¿Quieres conocer más sobre nuestros usuarios? ¡Prueba a hacer click en 
                <span class="text-success fw-bold">Usuarios</span>!
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <blockquote class="my-3 blockquote">
            We all need people who will give us feedback. That’s how we improve. - Bill Gates
        </blockquote>
    </div>
    
    
</section>
