<div *ngIf="producto">
    <div class="container mt-4">
        <div class="card">
            <img src="{{ producto.thumbnail }}" class="card-img-top" alt="Producto">
            <div class="card-body">
                <h5 class="card-title">{{ producto.title }}</h5>
                <p class="card-text">{{ producto.description }}</p>
                <p class="card-text">Precio: {{ producto.price }} €</p>
                <p class="card-text">Descuento: {{ producto.discountPercentage }}%</p>
                <p class="card-text">Valoración: {{ producto.rating }}</p>
                <p class="card-text">Stock: {{ producto.stock }} unidades</p>
                <p class="card-text">Marca: {{ producto.brand }}</p>
                <p class="card-text">Categoría: {{ producto.category }}</p>
            </div>
            <div class="card-footer">
                <a routerLink="/productos/producto/detalle/edit/{{producto.id}}" class="btn btn-success">
                    Modificar datos producto
                </a>
                <button type="button" class="btn btn-primary float-end" (click)="goBack()">Volver</button>
            </div>
        </div>
        
    </div>
</div>