<div *ngIf="cargado" class="container mt-4">
    <form [formGroup]="checkoutForm" (ngSubmit)="guardar()">

        <div class="card">
            <div class="card-body">
                <div>
                    <label for="title">NOMBRE:</label>
                    <input id="title" type="text" formControlName="title" placeholder="Título de producto" />
                </div>
                <div>
                    <label for="description">DESCRIPCIÓN:</label>
                    <input id="description" type="text" formControlName="description"
                        placeholder="Descripción de producto" />
                </div>
                <div>
                    <label for="price">PRECIO (€):</label>
                    <input id="price" type="text" formControlName="price" placeholder="Precio" />
                </div>
                <div>
                    <label for="discountPercentage">DESCUENTO (%):</label>
                    <input id="discountPercentage" type="text" formControlName="discountPercentage"
                        placeholder="Descuento" />
                </div>
                <div>
                    <label for="rating">RATING:</label>
                    <input id="rating" type="text" formControlName="rating" placeholder="Rating" />
                </div>
                <div>
                    <label for="stock">STOCK:</label>
                    <input id="stock" type="text" formControlName="stock" placeholder="Stock" />
                </div>
                <div>
                    <label for="brand">MARCA:</label>
                    <input id="brand" type="text" formControlName="brand" placeholder="Marca" />
                </div>
                <div>
                    <label for="category">CATEGORÍA:</label>
                    <input id="category" type="text" formControlName="category" placeholder="Categoria" />
                </div>

            </div>

        </div>

        <button class="button" type="submit">Guardar</button>
    </form>
</div>


<!--<div *ngIf="cargado" class="container mt-4">
    <div class="card">
        <div class="card-body">
            <label for="title">NOMBRE:</label>
            <input id="title" [(ngModel)]="producto.title" placeholder="Título de producto" />
            <br>
            <label for="description">DESCRIPCIÓN:</label>
            <input id="description" [(ngModel)]="producto.description" placeholder="Descripción de producto" />
            <br>
            <label for="price">PRECIO (€):</label>
            <input id="price" [(ngModel)]="producto.price" placeholder="Precio" />
            <br>
            <label for="discountPercentage">DESCUENTO (%):</label>
            <input id="discountPercentage" [(ngModel)]="producto.discountPercentage" placeholder="Descuento" />
            <br>
            <label for="rating">RATING:</label>
            <input id="rating" [(ngModel)]="producto.rating" placeholder="Rating" />
            <br>
            <label for="stock">STOCK:</label>
            <input id="stock" [(ngModel)]="producto.stock" placeholder="Stock" />
            <br>
            <label for="brand">MARCA:</label>
            <input id="brand" [(ngModel)]="producto.brand" placeholder="Marca" />
            <br>
            <label for="category">CATEGORÍA:</label>
            <input id="category" [(ngModel)]="producto.category" placeholder="Categoria" />
            <br>
        </div>
        <div class="card-footer">
            <button type="button" (click)="goBack()">Volver</button>
        </div>
    </div>
    <button type="button" (click)="guardar()">Guardaro</button>
    <div *ngIf="mensaje != '' ">
        <p>{{ mensaje }}</p>
    </div>
</div>-->